In [8]:
'''
[과제: udf 등록 및 SQL 처리]
UDF 함수명: age_category(age)
- age가 35살 미만: 'young'
- age가 35살-59살: 'adult'
- age가 60살 이상: 'senior'

데이터프레임
- 변수: name, age (예: '안현', 39)
- 데이터 5개~10개 생성 

SQL 출력 결과: name, age_category(age)

- 제출 방법: GitHub에 업로드
- 제출 기한: 5.24(수) 
'''

"\n[과제: udf 등록 및 SQL 처리]\nUDF 함수명: age_category(age)\n- age가 35살 미만: 'young'\n- age가 35살-59살: 'adult'\n- age가 60살 이상: 'senior'\n\n데이터프레임\n- 변수: name, age (예: '안현', 39)\n- 데이터 5개~10개 생성 \n\nSQL 출력 결과: name, age_category(age)\n\n- 제출 방법: GitHub에 업로드\n- 제출 기한: 5.24(수) \n"

In [9]:
#SparkSession 설정

from pyspark.sql import SparkSession
from pyspark.sql.functions import udf

spark = spark = SparkSession.builder.master('local').appName('udf-hw').getOrCreate()

In [10]:
#(이름,나이)데이터 10개 
info = [('신동민',22),('최창성',24),('임정우',25),('박지원',35),('장미경',53),
       ('정호영',44),('고성우',66),('오일남',77),('김현성',31),('성진우',27)]

#스키마 정의
schema = ['name','age']

#데이터 프레임 생성
df = spark.createDataFrame(info,schema)

# name_age라는 이름으로 temporary view 생성
df.createOrReplaceTempView('name_age')

#데이터 프레임 출력
df.show()

+------+---+
|  name|age|
+------+---+
|신동민| 22|
|최창성| 24|
|임정우| 25|
|박지원| 35|
|장미경| 53|
|정호영| 44|
|고성우| 66|
|오일남| 77|
|김현성| 31|
|성진우| 27|
+------+---+

In [13]:
#UDF - age_category(연령대) 함수

def age_category(age):
    if age < 35:                  #35살 미만 = 'young'
        return 'young'
    elif age >= 35 and age < 60:  #35살 이상 60살 미만 = 'adult'
        return 'adult'
    elif age >= 60:               #60살 이상 = 'senior'
        return 'senior'

In [14]:
#UDF 등록
spark.udf.register('age_category',age_category)

In [15]:
#SQL문 처리
spark.sql('SELECT name,age_category(age) \
           FROM name_age').show()

+------+-----------------+
|  name|age_category(age)|
+------+-----------------+
|신동민|            young|
|최창성|            young|
|임정우|            young|
|박지원|            adult|
|장미경|            adult|
|정호영|            adult|
|고성우|           senior|
|오일남|           senior|
|김현성|            young|
|성진우|            young|
+------+-----------------+